<h1><%= t ".pass_re" %></h1>
<p><%= t ".reset_click" %></p>
<%= link_to t(".re_pass"), edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t ".para1" %></p>
<p><%= t ".para2" %></p>
